In [29]:
import numpy as np

import pandas as pd

import matplotlib.pyplot as plt

from sklearn.feature_selection import f_regression
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split, cross_validate
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold

import seaborn as sns

import scipy.stats as stats
from scipy.stats import f

import statsmodels.api as sm

from mlxtend.feature_selection import SequentialFeatureSelector

In [2]:
def f_test(X, y):
    model = LinearRegression(fit_intercept = True).fit(X_poly, y)
    score = model.score(X_poly, y)
    f_statistic = (score/(1-score))*((X_poly.shape[0]-X_poly.shape[1]-1)/X_poly.shape[1])
    df1 = X_poly.shape[1] - 1
    df2 = y.shape[0] - 1
    p_value = 1-f.cdf(f_statistic, df2, df1)
    
    print("F_statistic: "+ str(f_statistic))
    print("p_value: "+str(p_value))
    
    return f_statistic, p_value

In [3]:
def preprocess_data(data, target, poly_degree = 2):
    y = data[target]
    X = data.drop(columns=[target])
    X = pd.get_dummies(X, drop_first=True)
    
    poly = PolynomialFeatures(poly_degree)
    X_poly = poly.fit_transform(X)
    X_poly = pd.DataFrame(X_poly, columns= poly.get_feature_names(X.columns))
    X_poly = X_poly.drop(columns = ['1'])
    return y, X_poly, X

In [4]:
data = pd.read_csv('C://datasets//Boston Housing//Housing.csv', sep=',')

In [5]:
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [6]:
y, X_poly, X = preprocess_data(data, target = 'price')

In [79]:
X

,area,bedrooms,bathrooms,stories,parking,mainroad_yes,guestroom_yes,basement_yes,hotwaterheating_yes,airconditioning_yes,prefarea_yes,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,7420,4,2,3,2,1,0,0,0,1,1,0,0
1,8960,4,4,4,3,1,0,0,0,1,0,0,0
2,9960,3,2,2,2,1,0,1,0,0,1,1,0
3,7500,4,2,2,3,1,0,1,0,1,1,0,0
4,7420,4,1,2,2,1,1,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,3000,2,1,1,2,1,0,1,0,0,0,0,1
541,2400,3,1,1,0,0,0,0,0,0,0,1,0
542,3620,2,1,1,0,1,0,0,0,0,0,0,1
543,2910,3,1,1,0,0,0,0,0,0,0,0,0
544,3850,3,1,2,0,1,0,0,0,0,0,0,1

In [8]:
X_poly

,area,bedrooms,bathrooms,stories,parking,mainroad_yes,guestroom_yes,basement_yes,hotwaterheating_yes,airconditioning_yes,...,airconditioning_yes^2,airconditioning_yes prefarea_yes,airconditioning_yes furnishingstatus_semi-furnished,airconditioning_yes furnishingstatus_unfurnished,prefarea_yes^2,prefarea_yes furnishingstatus_semi-furnished,prefarea_yes furnishingstatus_unfurnished,furnishingstatus_semi-furnished^2,furnishingstatus_semi-furnished furnishingstatus_unfurnished,furnishingstatus_unfurnished^2
0,7420.0,4.0,2.0,3.0,2.0,1.0,0.0,0.0,0.0,1.0,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,8960.0,4.0,4.0,4.0,3.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,9960.0,3.0,2.0,2.0,2.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
3,7500.0,4.0,2.0,2.0,3.0,1.0,0.0,1.0,0.0,1.0,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,7420.0,4.0,1.0,2.0,2.0,1.0,1.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,3000.0,2.0,1.0,1.0,2.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
541,2400.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
542,3620.0,2.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
543,2910.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
544,3850.0,3.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [9]:
_,_ = f_test(X, y)

F_statistic: 14.539985703631434
p_value: 1.1102230246251565e-16

In [10]:
_,_ = f_test(X_poly, y)

F_statistic: 14.539985703631434
p_value: 1.1102230246251565e-16

### The p_value and F_statistic strongly suggest that there is a relationship between the dependent and independent variables in both cases. (p_values are about 0)

In [11]:
model = LinearRegression()
feature_selector = SequentialFeatureSelector(
model,
k_features=13,
forward=False,
verbose=1,
scoring="neg_mean_squared_error",
n_jobs=10
)
sf = feature_selector.fit(X_poly,y)
X_selected = X_poly[list(sf.k_feature_names_)]

[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  30 tasks      | elapsed:    3.6s
[Parallel(n_jobs=10)]: Done  85 out of 104 | elapsed:    4.0s remaining:    0.8s
[Parallel(n_jobs=10)]: Done 104 out of 104 | elapsed:    4.1s finished
Features: 103/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done 103 out of 103 | elapsed:    0.4s finished
Features: 102/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done 102 out of 102 | elapsed:    0.4s finished
Features: 101/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done 101 out of 101 | elapsed:    0.4s finished
Features: 100/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done 100 out of 100 | elapsed:    0.4s finished
Features: 99/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  99 out of  99 | elapsed:    0.4s finished
Features: 98/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  98 out of  98 | elapsed:    0.4s finished
Features: 97/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  97 out of  97 | elapsed:    0.4s finished
Features: 96/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  96 out of  96 | elapsed:    0.5s finished
Features: 95/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  95 out of  95 | elapsed:    0.5s finished
Features: 94/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  94 out of  94 | elapsed:    0.4s finished
Features: 93/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  93 out of  93 | elapsed:    0.5s finished
Features: 92/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  92 out of  92 | elapsed:    0.4s finished
Features: 91/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  91 out of  91 | elapsed:    0.5s finished
Features: 90/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  90 out of  90 | elapsed:    0.5s finished
Features: 89/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  89 out of  89 | elapsed:    0.4s finished
Features: 88/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  88 out of  88 | elapsed:    0.4s finished
Features: 87/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  68 out of  87 | elapsed:    0.4s remaining:    0.0s
[Parallel(n_jobs=10)]: Done  87 out of  87 | elapsed:    0.5s finished
Features: 86/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  86 out of  86 | elapsed:    0.5s finished
Features: 85/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  85 out of  85 | elapsed:    0.3s finished
Features: 84/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  84 out of  84 | elapsed:    0.3s finished
Features: 83/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  83 out of  83 | elapsed:    0.3s finished
Features: 82/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  82 out of  82 | elapsed:    0.3s finished
Features: 81/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  81 out of  81 | elapsed:    0.3s finished
Features: 80/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  80 out of  80 | elapsed:    0.3s finished
Features: 79/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  79 out of  79 | elapsed:    0.4s finished
Features: 78/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  78 out of  78 | elapsed:    0.3s finished
Features: 77/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  77 out of  77 | elapsed:    0.4s finished
Features: 76/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  76 out of  76 | elapsed:    0.3s finished
Features: 75/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  75 out of  75 | elapsed:    0.3s finished
Features: 74/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  74 out of  74 | elapsed:    0.3s finished
Features: 73/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  73 out of  73 | elapsed:    0.2s finished
Features: 72/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  72 out of  72 | elapsed:    0.3s finished
Features: 71/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  71 out of  71 | elapsed:    0.3s finished
Features: 70/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  70 out of  70 | elapsed:    0.3s finished
Features: 69/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  69 out of  69 | elapsed:    0.4s finished
Features: 68/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  68 out of  68 | elapsed:    0.4s finished
Features: 67/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  67 out of  67 | elapsed:    0.4s finished
Features: 66/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  66 out of  66 | elapsed:    0.3s finished
Features: 65/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  65 out of  65 | elapsed:    0.4s finished
Features: 64/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  64 out of  64 | elapsed:    0.3s finished
Features: 63/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  63 out of  63 | elapsed:    0.4s finished
Features: 62/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  62 out of  62 | elapsed:    0.3s finished
Features: 61/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  61 out of  61 | elapsed:    0.3s finished
Features: 60/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  60 out of  60 | elapsed:    0.3s finished
Features: 59/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  59 out of  59 | elapsed:    0.4s finished
Features: 58/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  58 out of  58 | elapsed:    0.3s finished
Features: 57/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  57 out of  57 | elapsed:    0.3s finished
Features: 56/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  56 out of  56 | elapsed:    0.3s finished
Features: 55/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  36 out of  55 | elapsed:    0.4s remaining:    0.2s
[Parallel(n_jobs=10)]: Done  55 out of  55 | elapsed:    0.4s finished
Features: 54/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  54 out of  54 | elapsed:    0.2s finished
Features: 53/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  53 out of  53 | elapsed:    0.3s finished
Features: 52/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  52 out of  52 | elapsed:    0.2s finished
Features: 51/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  32 out of  51 | elapsed:    0.2s remaining:    0.1s
[Parallel(n_jobs=10)]: Done  51 out of  51 | elapsed:    0.3s finished
Features: 50/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  50 out of  50 | elapsed:    0.4s finished
Features: 49/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  49 out of  49 | elapsed:    0.2s finished
Features: 48/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  48 out of  48 | elapsed:    0.2s finished
Features: 47/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  47 out of  47 | elapsed:    0.2s finished
Features: 46/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  46 out of  46 | elapsed:    0.2s finished
Features: 45/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  26 out of  45 | elapsed:    0.2s remaining:    0.1s
[Parallel(n_jobs=10)]: Done  45 out of  45 | elapsed:    0.2s finished
Features: 44/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  44 out of  44 | elapsed:    0.3s finished
Features: 43/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  43 out of  43 | elapsed:    0.4s finished
Features: 42/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  42 out of  42 | elapsed:    0.3s finished
Features: 41/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  41 out of  41 | elapsed:    0.3s finished
Features: 40/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  40 out of  40 | elapsed:    0.3s finished
Features: 39/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  20 out of  39 | elapsed:    0.2s remaining:    0.2s
[Parallel(n_jobs=10)]: Done  39 out of  39 | elapsed:    0.2s finished
Features: 38/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  38 out of  38 | elapsed:    0.1s finished
Features: 37/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  18 out of  37 | elapsed:    0.2s remaining:    0.2s
[Parallel(n_jobs=10)]: Done  37 out of  37 | elapsed:    0.3s finished
Features: 36/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  36 out of  36 | elapsed:    0.2s finished
Features: 35/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  16 out of  35 | elapsed:    0.2s remaining:    0.3s
[Parallel(n_jobs=10)]: Done  35 out of  35 | elapsed:    0.3s finished
Features: 34/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  34 out of  34 | elapsed:    0.1s finished
Features: 33/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  14 out of  33 | elapsed:    0.2s remaining:    0.4s
[Parallel(n_jobs=10)]: Done  33 out of  33 | elapsed:    0.3s finished
Features: 32/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  32 out of  32 | elapsed:    0.2s finished
Features: 31/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  12 out of  31 | elapsed:    0.2s remaining:    0.4s
[Parallel(n_jobs=10)]: Done  31 out of  31 | elapsed:    0.3s finished
Features: 30/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  11 out of  30 | elapsed:    0.3s remaining:    0.6s
[Parallel(n_jobs=10)]: Done  30 out of  30 | elapsed:    0.3s finished
Features: 29/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  10 out of  29 | elapsed:    0.2s remaining:    0.4s
[Parallel(n_jobs=10)]: Done  29 out of  29 | elapsed:    0.2s finished
Features: 28/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  28 out of  28 | elapsed:    0.2s finished
Features: 27/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done   8 out of  27 | elapsed:    0.1s remaining:    0.3s
[Parallel(n_jobs=10)]: Done  27 out of  27 | elapsed:    0.2s finished
Features: 26/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done   7 out of  26 | elapsed:    0.1s remaining:    0.5s
[Parallel(n_jobs=10)]: Done  26 out of  26 | elapsed:    0.1s finished
Features: 25/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done   6 out of  25 | elapsed:    0.1s remaining:    0.6s
[Parallel(n_jobs=10)]: Done  25 out of  25 | elapsed:    0.3s finished
Features: 24/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done   5 out of  24 | elapsed:    0.1s remaining:    0.7s
[Parallel(n_jobs=10)]: Done  24 out of  24 | elapsed:    0.4s finished
Features: 23/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done   4 out of  23 | elapsed:    0.1s remaining:    1.0s
[Parallel(n_jobs=10)]: Done  23 out of  23 | elapsed:    0.2s finished
Features: 22/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done   3 out of  22 | elapsed:    0.0s remaining:    0.4s
[Parallel(n_jobs=10)]: Done  22 out of  22 | elapsed:    0.2s finished
Features: 21/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  21 out of  21 | elapsed:    0.1s finished
Features: 20/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  20 out of  20 | elapsed:    0.3s finished
Features: 19/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  19 out of  19 | elapsed:    0.2s finished
Features: 18/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  18 out of  18 | elapsed:    0.2s remaining:    0.0s
[Parallel(n_jobs=10)]: Done  18 out of  18 | elapsed:    0.2s finished
Features: 17/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  17 out of  17 | elapsed:    0.2s finished
Features: 16/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  14 out of  16 | elapsed:    0.2s remaining:    0.0s
[Parallel(n_jobs=10)]: Done  16 out of  16 | elapsed:    0.2s finished
Features: 15/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  12 out of  15 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=10)]: Done  15 out of  15 | elapsed:    0.2s finished
Features: 14/13[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  10 out of  14 | elapsed:    0.2s remaining:    0.0s
[Parallel(n_jobs=10)]: Done  14 out of  14 | elapsed:    0.2s finished
Features: 13/13

In [13]:
list(sf.k_feature_names_)

['bathrooms',
 'hotwaterheating_yes',
 'area bathrooms',
 'area basement_yes',
 'bedrooms hotwaterheating_yes',
 'bedrooms furnishingstatus_unfurnished',
 'bathrooms stories',
 'bathrooms airconditioning_yes',
 'mainroad_yes^2',
 'mainroad_yes hotwaterheating_yes',
 'mainroad_yes prefarea_yes',
 'guestroom_yes airconditioning_yes',
 'basement_yes airconditioning_yes']

#### If we use interaction terms, then we have to include the baselines too!!!

In [14]:
X_selected = X_selected.assign(area=X_poly['area'])
X_selected = X_selected.assign(basement_yes=X_poly['basement_yes'])
X_selected = X_selected.assign(bathrooms=X_poly['bathrooms'])
X_selected = X_selected.assign(bedrooms=X_poly['bedrooms'])
X_selected = X_selected.assign(guestroom_yes=X_poly['guestroom_yes'])
X_selected = X_selected.assign(hotwaterheating_yes=X_poly['hotwaterheating_yes'])
X_selected = X_selected.assign(mainroad_yes=X_poly['mainroad_yes'])
X_selected = X_selected.assign(airconditioning_yes=X_poly['airconditioning_yes'])
X_selected = X_selected.assign(furnishingstatus_semi_furnished=X_poly['furnishingstatus_semi-furnished'])
X_selected = X_selected.assign(stories=X_poly['stories'])
X_selected = X_selected.assign(maintoad_yes=X_poly['mainroad_yes'])
X_selected = X_selected.assign(parking=X_poly['parking'])
X_selected = X_selected.assign(furnishingstatus_unfurnished=X_poly['furnishingstatus_unfurnished'])

In [15]:
X

,area,bedrooms,bathrooms,stories,parking,mainroad_yes,guestroom_yes,basement_yes,hotwaterheating_yes,airconditioning_yes,prefarea_yes,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,7420,4,2,3,2,1,0,0,0,1,1,0,0
1,8960,4,4,4,3,1,0,0,0,1,0,0,0
2,9960,3,2,2,2,1,0,1,0,0,1,1,0
3,7500,4,2,2,3,1,0,1,0,1,1,0,0
4,7420,4,1,2,2,1,1,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,3000,2,1,1,2,1,0,1,0,0,0,0,1
541,2400,3,1,1,0,0,0,0,0,0,0,1,0
542,3620,2,1,1,0,1,0,0,0,0,0,0,1
543,2910,3,1,1,0,0,0,0,0,0,0,0,0
544,3850,3,1,2,0,1,0,0,0,0,0,0,1

In [16]:
X_selected

,bathrooms,hotwaterheating_yes,area bathrooms,area basement_yes,bedrooms hotwaterheating_yes,bedrooms furnishingstatus_unfurnished,bathrooms stories,bathrooms airconditioning_yes,mainroad_yes^2,mainroad_yes hotwaterheating_yes,...,basement_yes,bedrooms,guestroom_yes,mainroad_yes,airconditioning_yes,furnishingstatus_semi_furnished,stories,maintoad_yes,parking,furnishingstatus_unfurnished
0,2.0,0.0,14840.0,0.0,0.0,0.0,6.0,2.0,1.0,0.0,...,0.0,4.0,0.0,1.0,1.0,0.0,3.0,1.0,2.0,0.0
1,4.0,0.0,35840.0,0.0,0.0,0.0,16.0,4.0,1.0,0.0,...,0.0,4.0,0.0,1.0,1.0,0.0,4.0,1.0,3.0,0.0
2,2.0,0.0,19920.0,9960.0,0.0,0.0,4.0,0.0,1.0,0.0,...,1.0,3.0,0.0,1.0,0.0,1.0,2.0,1.0,2.0,0.0
3,2.0,0.0,15000.0,7500.0,0.0,0.0,4.0,2.0,1.0,0.0,...,1.0,4.0,0.0,1.0,1.0,0.0,2.0,1.0,3.0,0.0
4,1.0,0.0,7420.0,7420.0,0.0,0.0,2.0,1.0,1.0,0.0,...,1.0,4.0,1.0,1.0,1.0,0.0,2.0,1.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1.0,0.0,3000.0,3000.0,0.0,2.0,1.0,0.0,1.0,0.0,...,1.0,2.0,0.0,1.0,0.0,0.0,1.0,1.0,2.0,1.0
541,1.0,0.0,2400.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
542,1.0,0.0,3620.0,0.0,0.0,2.0,1.0,0.0,1.0,0.0,...,0.0,2.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0
543,1.0,0.0,2910.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
544,1.0,0.0,3850.0,0.0,0.0,3.0,2.0,0.0,1.0,0.0,...,0.0,3.0,0.0,1.0,0.0,0.0,2.0,1.0,0.0,1.0

### In order to evaluate and compare the linear and polynomial regressiob models we use 10-fold cross validation method.

In [73]:
kf = KFold(n_splits=10)
kf.get_n_splits(X)
predictions = []
for train_index, test_index in kf.split(X):
#     print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    model = LinearRegression(fit_intercept=True).fit(X_train, y_train)
    pred = model.predict(X_test)
    predictions = np.append(predictions, pred)
orig_mse = np.sqrt(((predictions - y)**2).sum()/len(y))

In [74]:
orig_mse

1278806.5110376987

### Test MSE for original model is 1278806.5110376987

In [75]:
kf = KFold(n_splits=10)
kf.get_n_splits(X)
predictions = []
for train_index, test_index in kf.split(X_selected):
#     print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X_selected.iloc[train_index], X_selected.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    model = LinearRegression(fit_intercept=True).fit(X_train, y_train)
    pred = model.predict(X_test)
    predictions = np.append(predictions, pred)
poly_mse = np.sqrt(((predictions - y)**2).sum()/len(y))

In [76]:
poly_mse

1240090.4664717228

### Test MSE for polynomial model trained on the selected features is 1240090.4664717228

In [77]:
poly_mse < orig_mse

True

## As we see Polynomial regression has lower MSE!